KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=espace-numerique
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_BUCKET=cours
CASSANDRA_HOST=cassandra
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=espace_numerique